<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tambah Barang</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Tambah Surat</h1>
        <form>
            <div class="form-group">
                <label for="nama">Nama Surat:</label>
                <input type="text" class="form-control" id="nama_surat" placeholder="Nama">
            </div>
            <div class="form-group">
                <label for="deskripsi">Deskripsi Surat:</label>
                <input type="text" class="form-control" id="deskripsi" placeholder="Deskripsi">
            </div>
            <button type="button" class="btn btn-primary">Tambah Surat</button>
        </form>
        <a href="/admin/surat/index" class="btn btn-success">Kembali</a>
    </div>
    <script>
    $(document).ready(function() {
        $("button").click(function() {
            var nama_ruangan = document.getElementById("nama_surat").value;
            var deskripsi_ruangan = document.getElementById("deskripsi").value;

            var userModel = {
                "namaSurat": nama_ruangan,
                "deskripsi": deskripsi_ruangan
            };

            var requestJSON = JSON.stringify(userModel);

            $.ajax({
                type: "POST",
                url: "http://localhost:8080/surat/",
                headers: {
                    "Content-Type": "application/json"
                },
                data: requestJSON,
                success: function(data) {
                    window.location.href = "/admin/surat/index/";
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                    // Handle error here
                }
            });
        });
    });
</script>

</body>
</html>
